*.swp
build
.libs
modules
autom4te.cache
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
*~
*.lo
*.dep
*.la
*.loT
*.o
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.sh
tests/*.php
php_test_results_*.txt
gen_stub.php
PHP-Parser-5.0.0
